.card {
  position: absolute;
  z-index: 32;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 260px;
  height: 400px;
  min-width: 220px;
  min-height: 350px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  color: black;
  transition: 0.4s ease-out;
}

.card .card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 15px auto 20px auto;
}

img {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
  transition: 0.3s all ease-in-out;

  &:hover {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    transform: scale(1.1);
  }
}

.card .card__image img::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card .card__image img::after {
  position: absolute;
  content: "";
  // top: calc(var(--card-height) / 6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card .card__name {
  margin-bottom: 15px;
  font-weight: bold;
}

.card .card__skills {
  width: 100%;
  margin-bottom: 15px;

  .card-skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.3 all ease-in-out;
    &:not(:first-child) {
      padding-top: 5px;
    }

    &:hover {
      transition: 0.3 all ease-in-out;
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

.card:not(.battle-card) {
  @for $i from 2 through 32 {
    &:nth-child(#{$i}) {
      z-index: #{16-$i};
    }
  }
}
.card:not(.battle-card):nth-child(2) {
  background-color: rgb(200, 200, 200);
  border-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-4%) scale(0.98);
}
.card:not(.battle-card):nth-child(3) {
  background-color: rgb(190, 190, 190);
  border-color: rgba(0, 0, 0, 0.6);
  transform: translateY(-8%) scale(0.96);
}
.card:not(.battle-card):nth-child(4) {
  background-color: rgb(180, 180, 180);
  border-color: rgba(0, 0, 0, 0.4);
  transform: translateY(-12%) scale(0.94);
}

.card.battle-card {
  position: relative;
}
