.player-deck {
    border: 1px solid red;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
    width: 260px;
    height: 400px;
    margin: 25px auto;
    text-align: center;
}

/* .player-deck > * {
margin-right: 5px;
} */