.player-deck {
  border: 1px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 400px;
  margin: 25px auto;
  text-align: center;
}
