@mixin circle($circleSize) {
    width: $circleSize;
    height: $circleSize;
    border-radius: calc($circleSize/2);
  }
  
  .pulse-css {
    @include circle(50px);
    position: absolute;
    z-index: -1;
    background-color: crimson ;
    &:before,
    &:after {
      content: "";
      @include circle(50px);
      background-color: crimson;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: scale(0.5);
      transform-origin: center center;
      animation: pulse-me 1.5s linear infinite;
    }
    &:after {
      animation-delay: 2s;
    }
  }
  
  @keyframes pulse-me {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    70% {
      opacity: 0.09;
    }
    100% {
      transform: scale(5);
      opacity: 0;
    }
  }